* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    background-image: url(/images/chef.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fs-1{
    font-weight: 800;
}